@use '../Theme/Theme.scss' as *;

$transact_amount: clamp(0.8rem, 1.4vw, 3rem);

.container {
  @include Div(100%, 40%, column, color('color_11'));
  @include CardShadow;
  padding: 4% 8%;
  color: color('color_8');
  position: relative;
  border-radius: 15px;

  @media (max-width: 1300px) {
    height: 35%;
  }
}

//--------------------------------------->  title area
.report__title_div {
  @include Div(100%, 10%, row, color('none'));
  align-items: center;
}

.report__icon {
  @include Div(auto, 80%, row, color('none'));
}

.report__title {
  font-size: clamp(0.6rem, 0.9vw, 2rem);
  color: color('color-8');
}

//--------------------------------------->  mid sectiom
.report__section {
  @include Div(100%, 25%, row, color('none'));
  align-items: center;
  justify-content: space-between;
}

.single__trans {
  @include Div(auto, 100%, column, color('none'));
  margin-top: 15%;
  gap: 7%;
}

.report__head {
  @include Div(auto, auto, row, color('none'));
  align-items: center;
  gap: 3%;
  font-size: clamp(0.5rem, 0.8vw, 2rem);
}

.sent__amount {
  color: color('color_3');
  font-weight: 500;
  font-size: $transact_amount;
}

.received__amount {
  color: #1bd32e;
  font-weight: 500;
  font-size: $transact_amount;
}

.balance__section {
  @include Div(auto, auto, column, color('none'));
  margin-top: 10%;
  align-self: center;
  justify-content: space-between;
}

.balance__head {
  @include Div(auto, auto, row, color('none'));
  align-items: center;
  align-self: center;
  gap: 3%;
  font-size: clamp(0.5rem, 0.8vw, 2rem);
}

.balance__amount {
  color: color('color_5');
  font-weight: 600;
  letter-spacing: 0.2vw;
  font-size: clamp(0.8rem, 2.2vw, 5rem);
}

//--------------------------------------->  button section

.main__btn {
  @include HoverCursor;
  position: absolute;
  bottom: 10%;
  height: 15%;
  width: 60%;
  align-self: center;
  border-radius: 8px;
  font-size: clamp(0.5rem, 0.8vw, 3rem);
  font-family: setFont('primary');
  color: color('color_11');
  background-color: color('color_5');

  &:hover {
    color: color('color_8');
    background-color: color('color_1');
    box-shadow: 0 3px 9px -1px rgba(0, 0, 0, 0.25);
  }
}
