@use '../Theme/Theme.scss' as *;

.container {
  @include GridDiv(57vw, 90vh, color('none'));
  @include CardShadow;
  grid-template-columns: 1fr 1.5fr 1.5fr;
  grid-template-areas:
    'title title title'
    'feature feature feature'
    'update update ajo'
    'message message ajo';
  border-radius: 15px;
  gap: 0.5vh;
}
