//--------------------------------------->
//-->   ### GLOBAL THEME ###
//--------------------------------------->

//--------------------------------------->
//--> # COLOR SCHEME
//--------------------------------------->

$color_list: (
  'color_1': #60bebf,
  'color_2': #849c9b,
  'color_3': #dc4618,
  'color_4': #bfcbba,
  'color_5': #3a8eaa,
  'color_6': #eae8e3,
  'color_7': #e5ab17,
  'color_8': #28203d,
  'color_9': #2a3e4c,
  'color_10': #dcdcdb,
  'none': transparent,
);

// --> function to set the color
@function color($color_name) {
  @return map-get($color_list, $color_name);
}

//--------------------------------------->
// --> # DIV CREATOR
//--------------------------------------->

@mixin Div($width, $height, $direction, $bg_color) {
  width: $width;
  height: $height;
  display: flex;
  flex-direction: $direction;
  background-color: $bg_color;
  transition: 300ms all ease-in-out;
}

//--------------------------------------->
// --> # BUTTON CREATOR
//--------------------------------------->

@mixin Button($width, $height, $shadow, $bg, $color) {
  width: $width;
  height: $height;
  box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, $shadow);
  background-color: $bg;
  color: $color;
  border: none;
  transition: 300ms all ease-in-out;
}

//--------------------------------------->
// -->  # FONT SETTER
//--------------------------------------->
$Graduate_font: 'Graduate', cursive;
$Dancing_font: 'Dancing Script', cursive;

$fonts: (
  'primary': $Graduate_font,
  'secondary': $Dancing_font,
);

@function setFont($font) {
  @return map-get($fonts, $font);
}
